<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GiveTime - 재능 기부 플랫폼</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/mainpage.css' %}" />
  </head>
  <body>
    <header>
      <div class="nav-left">
        <div
          class="logo"
          style="
            font-family: 'Georgia', serif;
            font-weight: bold;
            font-size: 1.5em;
          "
        >
          Give Time
        </div>
      </div>
      <div class="nav-center">
        <nav>
          <a href="/posts/announcements/">공지사항</a>
          <a href="/posts/donation/">재능기부</a>
          <a href="/posts/request">재능요청</a>
          <a href="/posts/story">따뜻한 이야기</a>
        </nav>
      </div>
      <div class="nav-right">
        <nav>
          <a href="#"><span style="font-size: 1.2em">👜</span> 로그인</a>
          <a href="#"><span style="font-size: 1.2em">⭐</span> 회원가입</a>
          <a href="#"><span style="font-size: 1.2em">⭐</span> 마이페이지</a>
        </nav>
      </div>
    </header>

    <div class="main-banner">
      <div class="slide-wrapper" id="slideWrapper">
        <div class="slide">
          <div class="text">
            <h1>재능 기부 플랫폼</h1>
            <p>
              당신의 시간, 능력이 모이면 힘이 됩니다.<br />GiveTime은 시간으로
              마음을 나누는 재능 기부 플랫폼입니다.
            </p>
            <p>✔️ 전문 / 시간 선택 가능</p>
          </div>
          <div class="image">
            {% load static %}
            <img
              src="{% static 'main/images/givetalent.jpeg' %}"
              alt="재능기부 이미지"
            />
          </div>
        </div>
        <div class="slide">
          <div class="text">
            <h1>함께 만드는 따뜻한 세상</h1>
            <p>
              여러분의 작은 나눔이 큰 변화를 만듭니다.<br />함께 나누는 삶을
              GiveTime에서 시작하세요.
            </p>
            <p>✔️ 누구나 쉽게 참여 가능</p>
          </div>
          <div class="image">
            {% load static %}
            <img
              src="{% static 'main/images/warm-world.png' %}"
              alt="함께 기부 이미지"
            />
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="section-title">모집중인 재능기부</div>
      <p class="section-subtitle">당신의 재능을 세상과 나눠보세요</p>
      <div class="card-list">
        <div class="card">
          <div class="card-top">
            {% load static %}
            <img
              src="{% static 'main/images/computer.png' %}"
              alt="카테고리 이미지"
              class="category-img"
            />
            <div class="category-info">
              <div class="category-name">IT</div>
              <div class="category-location">청주시, 충북고등학교</div>
            </div>
          </div>
          <div class="card-body1">
            <div class="title">html 학습 보조</div>
            <div>활동 기간 : 2025.04.16</div>
            <div>모집 인원 : 5명</div>
            <div>모집 기간 : ~2025.04.10</div>
            <div class="detail-link">상세보기</div>
          </div>
        </div>
        <div class="card">
          <div class="card-top">
            {% load static %}
            <img
              src="{% static 'main/images/computer.png' %}"
              alt="카테고리 이미지"
              class="category-img"
            />
            <div class="category-info">
              <div class="category-name">IT</div>
              <div class="category-location">청주시, 충북초등학교</div>
            </div>
          </div>
          <div class="card-body1">
            <div class="title">스크래치 학습 보조</div>
            <div>활동 기간 : 2025. 04. 20</div>
            <div>모집 인원 : 3명</div>
            <div>모집 기간 : ~2025.04.13</div>
            <div class="detail-link">상세보기</div>
          </div>
        </div>
        <div class="card">
          <div class="card-top">
            {% load static %}
            <img
              src="{% static 'main/images/art.png' %}"
              alt="카테고리 이미지"
              class="category-img"
            />
            <div class="category-info">
              <div class="category-name">IT</div>
              <div class="category-location">서울시, 그앤비미술학원</div>
            </div>
          </div>
          <div class="card-body1">
            <div class="title">크러키 학습 보조</div>
            <div>활동 기간 : 2025. 05. 10</div>
            <div>모집 인원 : 2명</div>
            <div>모집 기간 : ~2025.05.08</div>
            <div class="detail-link">상세보기</div>
          </div>
        </div>
        <div class="card">
          <div class="card-top">
            {% load static %}
            <img
              src="{% static 'main/images/english.png' %}"
              alt="카테고리 이미지"
              class="category-img"
            />

            <div class="category-info">
              <div class="category-name">외국어</div>
              <div class="category-location">인천광역시, 인천중학교</div>
            </div>
          </div>
          <div class="card-body1">
            <div class="title">영어 회화 보조</div>
            <div>활동 기간 : 2025. 05. 18</div>
            <div>모집 인원 : 2명</div>
            <div>모집 기간 : ~2025.05.15</div>
            <div class="detail-link">상세보기</div>
          </div>
        </div>
      </div>
    </section>

    <section class="warm-section">
      <div class="section-title">따뜻한 이야기</div>
      <p class="section-subtitle">
        작지만 깊은 나눔이 만들어낸 순간들을 담았어요
      </p>
      <div class="card-list">
        <div class="card">
          <div class="card-top">
            {% load static %}
            <img
              src="{% static 'main/images/computer.png' %}"
              alt="카테고리 이미지"
              class="category-img"
            />
            <div class="category-info">
              <div class="category-name">IT</div>
              <div class="category-location">청주시, 충북고등학교</div>
            </div>
          </div>
          <div class="card-body2">
            <div class="title">html 학습 보조</div>
            <div>활동 기간 : 2025.04.16</div>
            <div>모집 인원 : 5명</div>
            <div>모집 기간 : ~2025.04.10</div>
            <div class="detail-link">상세보기</div>
          </div>
        </div>
        <div class="card">
          <div class="card-top">
            {% load static %}
            <img
              src="{% static 'main/images/computer.png' %}"
              alt="카테고리 이미지"
              class="category-img"
            />
            <div class="category-info">
              <div class="category-name">IT</div>
              <div class="category-location">청주시, 충북초등학교</div>
            </div>
          </div>
          <div class="card-body2">
            <div class="title">스크래치 학습 보조</div>
            <div>활동 기간 : 2025. 04. 20</div>
            <div>모집 인원 : 3명</div>
            <div>모집 기간 : ~2025.04.13</div>
            <div class="detail-link">상세보기</div>
          </div>
        </div>
        <div class="card">
          <div class="card-top">
            {% load static %}
            <img
              src="{% static 'main/images/art.png' %}"
              alt="카테고리 이미지"
              class="category-img"
            />
            <div class="category-info">
              <div class="category-name">IT</div>
              <div class="category-location">서울시, 그앤비미술학원</div>
            </div>
          </div>
          <div class="card-body2">
            <div class="title">크러키 학습 보조</div>
            <div>활동 기간 : 2025. 05. 10</div>
            <div>모집 인원 : 2명</div>
            <div>모집 기간 : ~2025.05.08</div>
            <div class="detail-link">상세보기</div>
          </div>
        </div>
        <div class="card">
          <div class="card-top">
            {% load static %}
            <img
              src="{% static 'main/images/english.png' %}"
              alt="카테고리 이미지"
              class="category-img"
            />
            <div class="category-info">
              <div class="category-name">외국어</div>
              <div class="category-location">인천광역시, 인천중학교</div>
            </div>
          </div>
          <div class="card-body2">
            <div class="title">영어 회화 보조</div>
            <div>활동 기간 : 2025. 05. 18</div>
            <div>모집 인원 : 2명</div>
            <div>모집 기간 : ~2025.05.15</div>
            <div class="detail-link">상세보기</div>
          </div>
        </div>
      </div>
      <footer>
        © 2025 AI프로젝트 박성범 박영현 윤준식<br />
        찾아오시는 길: 충북대학교 S4-103호
      </footer>
    </section>
    <script src="{% static 'main/slide.js' %}"></script>
  </body>
</html>
