<!-- posts/templates/posts/request_detail.html -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>{{ post.title }}</title>
  </head>
  <body>
    <h2>{{ post.title }}</h2>

    <p><strong>작성자:</strong> {{ post.author.nickname }}</p>
    <p><strong>작성일:</strong> {{ post.created_at|date:"Y-m-d H:i" }}</p>

    {% if post.category %}
    <p><strong>카테고리:</strong> {{ post.get_category_display }}</p>
    {% endif %}

    <hr />

    <p>{{ post.content|linebreaks }}</p>

    <br />
    {% if user == post.author %}
    <a href="{% url 'post_update' post.post_type post.id %}">수정</a>
    <form
      action="{% url 'post_delete' post.post_type post.id %}"
      method="post"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">
        삭제
      </button>
    </form>

    {% endif %}
    <a href="/posts/request/">← 목록으로 돌아가기</a>
  </body>
</html>
