<!-- posts/templates/posts/story_list.html -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>따뜻한 이야기 게시판</title>
  </head>
  <body>
    <h2>따뜻한 이야기 목록</h2>

    <a href="/posts/story/create/">글 작성</a>
    <hr />

    <ul>
      {% for post in postlist %}
      <li>
        <a href="{% url 'story_detail' post.id %}">{{ post.title }}</a>
        - 작성자: {{ post.author.username }} - 작성일: {{
        post.created_at|date:"Y-m-d H:i" }}
      </li>
      {% empty %}
      <li>등록된 게시글이 없습니다.</li>
      {% endfor %}
    </ul>
  </body>
</html>
